.div1{
	
	height: 800px;
	background-color: gray;
	
	display: flex;
	flex-direction: column;
justify-content: space-between;

align-items: center;
}


.div2{
	background-color: red;
	width: 100px;
	height: 100px;
	border: 1px solid;
}